<%- include('partials/header') %>

  <div class="login-block">
    <img class="logo login-logo" src="/images/logo.png" alt="logo">
    <h1 class="login-heading"><%= method %> </h1>

    <!-- Makes POST request to /login route -->
    <form action="/<%= method %> " method="POST">
      <div class="form-group">
        <input type="email" class="login-input" name="username" placeholder="Email" />
      </div>
      <div class="form-group">
        <input type="password" class="login-input" name="password" placeholder="Password" />
      </div>
      <button type="submit" class="btn btn-light submit-btn login-btn"><%= method %></button>
      <a class="btn btn-dark login-btn btn-google" href="/auth/google" role="button">
        <i class="bi bi-google"></i>
        <%= method %>  In with Google
      </a>
      <p class="instead"><a href="/<%= antimethod %> "><%= antimethod %></a> instead?</p>
    </form>

  </div>
  </div>
  <%- include('partials/footer') %>